<div class="list-group list-group-flush border-bottom scrollarea mb-1">
  <div class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
    <div data-action="click->favorite-products#hideShowHandler"
          data-favorite-products-index-param="<%= index %>">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong><%= favorite_product.product.name %></strong>
        <div class="favorite-container-50">
          <%= render 'favorite_products/remove_favorite', favorite_product: favorite_product %>
        </div>
      </div>
      <div class="col-10 mb-1 small">$<%= favorite_product.product.price %></div>
    </div>
    <div data-favorite-products-target="item" hidden>
      <div class="d-flex w-100 align-items-center justify-content-between">
        <% present(favorite_product.product) do |p|%>
          <strong><%= p.product_description %></strong>
        <% end %>
        <div class="favorite-container">
          <% if favorite_product.product.image.attached? %>
            <%= image_tag favorite_product.product.image, class: 'img-fluid rounded-start' %>
          <% end %>
        </div>         
      </div>
    </div>
  </div>
</div>
