<%= simple_form_for user, wrapper: :vertical_form do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if 
      f.object.errors[:base].present? %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <div class="form-group mb-2">
    <div class="col-sm-9 offset-sm-0">
      <%= f.button :submit, 'Confirm', class: "btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    </div>
  </div>
  <%= link_to 'Back', users_path %>
<% end %>
