<h1>Product <%= @product.id %> </h1>

<h3>  Name: <%= @product.name %> </h3>
<h3>  Description: <%= @product.description %> </h3>
<h3>  Price: <%= @product.price %> </h3>
<h3>  Image:  </h3>
<% if @product.image.attached? %>
 <p>
  <%= image_tag @product.image, width: "200px" %>
 </p>
<% end %>

<br>
<ul>
    <li><%= link_to 'Edit', edit_product_path(@product) %></li>
    <li><%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'View Products', products_path %></li>
</ul>
